{{!-- Blocks showing pending burgers or eaten burgers --}}
<li>	
	{{burger_name}}

	<button class="devour-it" data-id="{{id}}" data-isDevoured="{{devoured}}">
		{{#if devoured}}You enjoyed a {{burger_name}}!{{else}}EAT ME!{{/if}}
	</button>
    
</li>

